{:timbre {:level :info}
 :crux {:crux.node/topology :crux.jdbc/topology
        :crux.jdbc/dbtype "postgresql"
        :crux.jdbc/dbname "links"
        :crux.jdbc/user "postgres"
        :crux.kv/db-dir ".crux-data"}}
