{:sys/config {:profile :default}
 :sys/logging {:config #ig/ref :sys/config}

 :db/crux {:config #ig/ref :sys/config
           :logging #ig/ref :sys/logging}

 :http/webauthn {:config #ig/ref :sys/config
                 :crux #ig/ref :db/crux}
 :http/sente {:crux #ig/ref :db/crux}
 :http/server {:config #ig/ref :sys/config
               :crux #ig/ref :db/crux
               :webauthn #ig/ref :http/webauthn
               :sente #ig/ref :http/sente}}
